body {
  background-color: #e8e8e8;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
}
.w-300px {
  width: 376px;
}
.nav-item {
  display: table-cell;
  background: #0d6efd2e;
}
.nav-profile {
  border-radius: 50%;
  width: 36px;
}
.margin-main {
  margin-top: 80px;
}
.loading {
  position: relative;
  overflow: hidden !important;
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
}

.navbar-brand {
  color: #007bff; /* Warna teks biru */
  padding: 10px 15px; /* Menambahkan padding untuk tampilan lebih luas */
  border-radius: 5px; /* Agar tombol terlihat seperti tombol */
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Menambahkan efek transisi */
  text-decoration: none; /* Menghilangkan garis bawah */
}

.navbar-brand .judul:hover {
  color: #000;
}

.navbar-brand.active {
  text-decoration: underline; /* Garis bawah saat aktif */
  background-color: #e7e7e7;
}
.loader {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40px;
  width: 96px;
  aspect-ratio: 1;
  display: flex;
  color: #000;
  border: 4px solid;
  box-sizing: border-box;
  border-radius: 50%;
  background: radial-gradient(circle 5px, currentColor 95%, #0000),
    linear-gradient(currentColor 50%, #0000 0) 50%/4px 60% norepeat;
  animation: l1 2s infinite linear;
}
.loader:before {
  content: "";
  flex: 1;
  background: linear-gradient(currentColor 50%, #0000 0) 50%/4px 80% no-repeat;
  animation: inherit;
}
@keyframes l1 {
  100% {
    transform: rotate(1turn);
  }
}

.form-container {
  width: 50%;
  margin: 50px auto;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

.cashflow-stats-container {
  max-width: 800px;
  margin: 350px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0d6efd;
  color: white;
}

td {
  background-color: #f4f4f4;
}

.navbar-nav .mt-2 {
  margin-right: 10px;
}

.navbar-nav .btn {
  margin-top: 5px;
}
